# Example .env file for use with decoupled settings files.
# (See example_decouple_settings.py)

SECRET_KEY="THIS_IS_A_REALLY_BAD_SECRET_KEY_CHANGE_IT_OR_ELSE!"
DATABASE_URL="postgis://USERNAME:PASSWORD@HOSTNAME:PORT/DBNAME"
DEBUG="False"
USE_X_FORWARDED_HOST="True"
ALLOWED_HOSTS="localhost,my.hostname.com,12.34.56.78"
FILE_CACHE_LOCATION="/path/to/cache_dir"
PUBLIC_API_ACCESS=True
